:root {
    --petcare-color-hot-red: #F22F1D;
    --petcare-color-dark-orange: #D96704;
    --petcare-color-orange: #F29F05;
    --petcare-color-yellow: #F2B705;
    --petcare-color-dark-brown: #592202;
    --petcare-color-beige: #F2E1AE;
    --petcare-color-gray-light: #8A8A8A;
    --petcare-color-dark-gray: #3C3C3C;
    --petcare-color-white: #F2F2F2;
  }