* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .nav-logo {
    vertical-align: baseline;
  }
  
  .accordion-button:hover {
    background-color: #d67b27;
  }
  
  .dropdown {
    padding-bottom: 0.5rem;
  }
  
  .dropdown:hover,
  .accordion-list:hover {
    background-color: #f5f1f1;
  }
  
  .btn-menu {
    width: 8rem;
    height: 3rem;
  }
  
  h6,
  span {
    font-size: 0.65rem;
  }
  
  .btn-card {
    background-color: #d67b27;
    color: white;
  }
  
  .btn-card:hover {
    background-color: #91531a;
    color: antiquewhite;
  }
  
  .img-categ-pop {
    height: 160px;
    cursor: pointer;
    width: 180px;
  }
  
  .card-vantagens {
    width: 180px;
    height: 80px;
  }
  
  .ver-regras {
    font-size: 0.8rem;
  }
  
  .novidades {
    background-color: #fff0e5;
  }
  
  .form-novidades {
    width: 80%;
  }
  
  .btn-form {
    border: solid 2px #484848;
    width: 300px;
    font-weight: 600;
  }
  
  .social-media {
    background-color: #f9f6f6;
  }
  
  .midias {
    cursor: pointer;
  }
  
  .footer {
    background-color: #d67b27;
    color: white;
  }
  
  @media (min-width: 768px) {
    .form-novidades {
      width: 40%;
    }
  }