@import url('../css/global-styles/petcare_colors_style.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#logo {
    width: 200px;
}

h1 {
    text-align: center;
    padding-top: 60px;
    color: #000;
    font-size: 32px;
}

h2 {
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0 0 0;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.8em;
}

.conteudo {
    background-color: #f5f1f1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgray;
    flex: 1;
}

.container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 100px;
    padding: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-width: 900px;
}

.img-card {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

h3 {
    margin-top: 16px;
    font-size: 1.5em;
    color: #000000;
    padding: 5px;
    text-align: left;
    justify-content: left;
}

p {
    font-size: 1em;
    line-height: 1.4;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
    text-align: justify;
    padding-top: 5px;
}

footer {
    background-color: var(--petcare-color-orange);
    padding: 20px 0;
    flex-shrink: 0;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-text {
    font-size: 14px;
    margin-left: 40px;
}

.footer-social-icons img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@media (max-width: 1000px) {
    .cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px;
        max-width: none;
        margin-left: 10px;
        margin-right: 10px;
    }

    .conteudo {
        padding: 12px;
        margin-left: 0;
        margin-right: 0;
    }

    h1 {
        font-size: 22px;
        padding-top: 30px;
    }

    h2 {
        font-size: 14px;
        margin-bottom: 1em;
        padding: 20px 0;
    }
}