@import url('../../petcare_colors_style.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
   width: 200px;
}

h1 {
   text-align: center;
   margin-bottom: 20px;
}

h2{
   color: var(--petcare-color-dark-gray);
   font-size: medium;
   text-align: center;
   margin-bottom: 30px;
   font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #f5f1f1;
    padding: 6px;
    margin-bottom: 60px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 darkgray;
}

form {
    position: absolute;
    top: 80px;
    transition: .5s ;
    width: 300px;
    height: 400px;
    margin-top: 30px;
}
.buttonsForm{
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 #d67b27 ;

 }
 .buttonsForm button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 29px;
 }

 .btnColor{
    position: absolute;
    width: 130px;
    height: 100%;
    background: var(--petcare-color-orange);
    border-radius: 30px;
    transition: .3s;
 }

 input[type="text"], input[type="password"] {
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 8px 0 8px 15px;
    outline: none;
    width: 100%;
    font-size: 12px;
 }

 input:focus {
   border-color: var(--petcare-color-orange);
   box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
   outline: none;
}

 button[type="submit"]{
    background: var(--petcare-color-orange);
    color: #000;
    border-radius: 5px;
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 0 8px 10px;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
 }

 #signin{
    left: 25px;
 }

 #signup{
    left: 450px;
 }
 
 h3{
   font-family: "Poppins", sans-serif;
   font-size: 13px;
   margin: 20px 0 0 0;
 }

 label{
   font-size: 10px;
   font-family: "Poppins", sans-serif;
   margin: 10px 0 0 0;
 }