@import url('/src/css/petcare_colors_style.css');

/********************/
/** Filters Column **/
/********************/

.subtitle-filter {
    color: var(--petcare-color-dark-brown);
}

input[type="text"]:focus {
    border-color: var(--petcare-color-orange);
    box-shadow: 0 0 0 0.25rem rgba(242, 183, 5, 0.25);
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: var(--petcare-color-beige);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--petcare-color-orange);
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--petcare-color-beige);
}

.form-check-input:focus {
    border-color: var(--petcare-color-orange);
    box-shadow: 0 0 0 0.25rem rgba(242, 183, 5, 0.25);
}

.form-check-input:checked {
    background-color: var(--petcare-color-dark-orange);
    border-color: var(--petcare-color-orange);
}

/*********************/
/** Products Column **/
/*********************/

.span-results {
    font-size: 14px;
    font-style: italic;
    color: var(--petcare-color-gray-light);
}

.product-card {
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    border: 1px solid var(--petcare-color-full-white);
    background-color: var(--petcare-color-full-white);
}

.product-card:hover {
    box-shadow: 0 1px 5px var(--petcare-color-dark-gray);
}

.product-image {
    width: 100%;
    border-radius: 8px;
}

.product-name {
    color: var(--petcare-color-dark-gray);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.product-price {
    font-weight: bold;
    font-size: 20px;
    color: var(--petcare-color-dark-orange);
}

.buy-button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--petcare-color-dark-orange);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    width: 100%;
    margin-top: 10px;
    background-color: var(--petcare-color-orange);
    border-color: var(--petcare-color-orange);
    color: var(--petcare-color-full-white) !important;
    transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.buy-button:hover {
    background-color: var(--petcare-color-dark-orange);
    border-color: var(--petcare-color-dark-orange);
}

btn:active,
.buy-button:active {
    background-color: var(--petcare-color-dark-brown);
    border-color: var(--petcare-color-dark-brown);
}

.product-hidden {
    display: none;
}

.product-visible {
    display: block;
}

@media (max-width: 1024px) {

    .product-card {
        border: 1px solid var(--petcare-color-full-white);
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 20px;
        box-shadow: 0 1px 5px var(--petcare-color-dark-gray);
    }
}
